.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.center {
  text-align: center
}

.white {
  background: #fff;
}

.delete {
  color: #f00;
}

.delete:hover {
  color: #fb1717;
}

.wrap-loading {
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  padding: 20px;
  height: calc(100vh - 140px);
}

.wrap-loading .wrap-loading-spin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.full-screen-loading {
  padding: 20px;
  height: 100vh;
  text-align: center;
  background: rgba(32, 92, 249, 0.4);
}

.full-screen-loading .full-screen-loading-spin {
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
}

.full-screen-loading .ant-spin-dot i {
  background: #fff
}